::-webkit-scrollbar {
    display: none;
  }

body {
  background-color: #000000;
  overflow-x: hidden;
}

.App {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons {
  display: flex;
  margin-top: 20px;
}

.buttons > button {
  width: 40%;
  height: 46px;
  margin-right: 20px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 0%;
  border: none;
}

.button_play {
  color: #FFFFFF;
  background-color: #D50000;
}

.button_trailer {
  background-color: #D9D9D9;
}